@page "/error"
@using Blazored.LocalStorage

@inject ILocalStorageService LocalStorageService

<h1>Error</h1>
<p>@_errorMessage</p>

@code
{
    string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _errorMessage = await LocalStorageService.GetItemAsync<string>("errorMessage");
        //await LocalStorageService.RemoveItemAsync("errorMessage");
    }
}