@page "/internal/system-options"

@inherits SystemOptionsBase

<h3>System Options</h3>

@if (IsValidating)
{
    <LoadingProcess/>
}
else
{
    <div class="mt-3">
        <SystemOptionsComponent/>
    </div>
}

<div class="pt-lg-5"></div>